
/* --- --- -- CONTAINER MAIN -- --- --- */
body {
  background-color: var(--background);
}

.main__content {
  width: 90%;
  height: 80vh;
  margin: auto;
  display: flex;
  margin-top: 10px;
  border-radius: 40px;
  align-items: center;
  margin-bottom: 45px;
  justify-content: center;
  background-color: var(--main);
}

.loadingBar {
  margin: auto;
}

@media only screen and (max-width: 1000px) {
  .main__content {
    height: 90vh;
    margin-top: 40px;
    margin-bottom: 60px;
  }
}
/* 
@media only screen and (max-width: 400px) {
  .main__content {
    height: 90vh;
  }
} */