.container {
  display: flex;
  align-items: center;
  width: 85%;
  height: 80px;
  margin: auto;
  justify-content: space-between;
  background-color: var(--background);
}

a {
  text-decoration: none;
  color: var(--white);
}

.container__link {
  display: flex;
  align-items: center;
}

.container__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  letter-spacing: 3px;
  margin-left: 15px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 25px;
  text-transform: uppercase;
  color: var(--red);
}

.container__buttons {
  font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 260px;
}

.btn {
  font-size: 14px;
  background-color: var(--red);
  padding: 7px;
  letter-spacing: 3px;
  border-radius: 3px;
}

.btn:hover {
  background-color: var(--white);
  color: var(--red);
  transition: 1s;
}