.tippy-tooltip.honeybee-theme {
  background-color: #ffe268;
  border: 2px solid #ffb037;
  text-transform: uppercase;
  font-family: 'Cantora One', sans-serif;
  letter-spacing: 3px;
  color: #141c2a;
}
.tippy-popper[x-placement^='top'] 
.tippy-tooltip.honeybee-theme 
.tippy-arrow {
  border-top: 7px solid #ffb037;
}
.tippy-popper[x-placement^='top'] 
.tippy-tooltip.honeybee-theme 
.tippy-arrow::after {
  content: '';
  position: absolute;
  top: -8px;
  left: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #ffe268;
}

.tippy-popper[x-placement^='bottom'] 
.tippy-tooltip.honeybee-theme 
.tippy-arrow {
  border-bottom: 7px solid #ffb037;
}
